{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}
    <h1>Active Listings</h1>
    {% if listings %}
        {% for listing in listings  %}
            <a href="{% url 'auctions:details' listing.id %}">
                <div class="column-item col-lg-4 btn-light btn-lg mt-2">
                    <h2 class="btn-secondary btn-lg mb-2 mt-3 text-center">{{ listing.title }}</h2>
                    <img style="width:250px" src="{{ listing.image_url }}" alt="item_img">
                    <p>{{ listing.description }}</p>
                    <p style="font-style: italic;">{{ listing.date }}</p>
                    <h4 class="btn btn-secondary btn-lg px-5">${{ listing.starting_bid }}</h4>
                </div>
            </a>
            
            
        {% endfor %}
    {% else %}
        <h4>No items for an auction...</h4>
    {% endif %}
    
{% endblock %}